---
import Layout from "../layouts/Layout.astro"
---


<Layout title="About">

    <h1 class="text-5xl font-extrabold text-white">Ultimos titulos</h1>
    
    <p class="text-white">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Exercitationem illum velit, odio similique eligendi fugiat. Facere ullam vero quos praesentium nemo, 
    voluptatibus nisi culpa iusto, et reiciendis debitis optio pariatur?
    </p>
</Layout>

